* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#siteContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#header {
  height: 150px;
}

#mainTitle {
  font-family: 'Courier New', Courier, monospace;
  font-size: 60px;
  padding-top: 40px;
  width:fit-content;
  margin: auto;   
}

#headerGradient {
  background-image: linear-gradient(rgba(219, 219, 219, 0.24), rgba(255, 255, 255, 0));
  height: 20px;
  width: 100vw;
  top: 150px;
  position: absolute;
  z-index: 10;
}

#counterGradient {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(219, 219, 219, 0.24));
  height: 20px;
  width: 100vw;
  top: 730px;
  position: absolute;
  z-index: 10;
}

#footer {
  background-color: rgba(228, 228, 228, 0.37);
  width: 100vw;
  height: 40px;
  margin-top: auto;
}

#footerText {
  width: fit-content;
  margin:auto;
}

#footerBottom {
  height: 1px;
  background-color: rgba(221, 221, 221, 0.89);
  width: 20%;
  margin:auto;
}

#copyright {
  width: fit-content;
  margin:auto;
}

#aboutMe {
  position: relative;
  height: 600px;
  background-color: aqua;
}

#aboutText {
  position:absolute;
  top: 230px;
  left: 90px;
}

#aboutTitle {
  font-family: 'Courier New', Courier, monospace;
  font-size: 48px;
  max-width: 420px;
}

#aboutDeets {
  font-size: 24px;
  max-width: 350px;
}

#timelineSection {
  padding: 10px;
}

#timelineTitle {
  font-family: 'Courier New', Courier, monospace;
  font-size: 48px;
  width:fit-content;
  margin:auto;
  margin-bottom: 0px;
  padding: 20px;
}

#timelineImg {
  scale: 0.8;
  border-radius: 20px;
  margin:auto;
}

#projectSection {

}

#projectHeader {
  background-color: rgba(224, 241, 255, 0.479);
  padding: 10px;
}

#projectTitle {
  font-family: 'Courier New', Courier, monospace;
  font-size: 48px;
  width:fit-content;
  margin:auto;
  padding:10px;
}

#projectButtons {
  display: flex;
  justify-content: space-evenly;
  width:50%;
  margin:auto;
}

.button {
  width: 200px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 20px;
  transition: background-color 1s;
}

.button:hover {
  background-color: rgba(155, 155, 155, 0.473);
}

#projects {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 70%;
  justify-content: space-evenly;
}

.sinProj {
  background-color: rgba(133, 133, 133, 0.705);
  height: 300px;
  width: 400px;
  margin: 20px;
  border-radius: 40px;
  background-size: cover;
}

.sinProjHead {
  background-color: rgb(209, 229, 238);
  border-radius: 37px 37px 0px 0px;
  position: relative;
  top: -300px;
  pointer-events: none;
}

.sinProjTitle {
  padding: 5px;
  margin: auto;
  width: fit-content;
}

.sinProjDesc {
  padding: 5px;
  padding-left: 15px;
}

.projHover {
  height: 300px;
  width: 400px;
  border-radius: 40px;
  transition: background-color 0.5s;
}

.projHover:hover {
  background-color: rgba(202, 202, 202, 0.377);
}