* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#siteContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#header {
  height: 150px;
}

#mainTitle {
  font-family: 'Courier New', Courier, monospace;
  font-size: 60px;
  padding-top: 40px;
  width:fit-content;
  margin: auto;   
}

#headerGradient {
  background-image: linear-gradient(rgba(219, 219, 219, 0.24), rgba(255, 255, 255, 0));
  height: 20px;
  width: 100vw;
  top: 150px;
  position: absolute;
  z-index: 10;
}

#counterGradient {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(219, 219, 219, 0.24));
  height: 20px;
  width: 100vw;
  top: 730px;
  position: absolute;
  z-index: 10;
}

#footer {
  background-color: rgba(228, 228, 228, 0.37);
  width: 100vw;
  height: 40px;
  margin-top: auto;
}

#footerText {
  width: fit-content;
  margin:auto;
}

#footerBottom {
  height: 1px;
  background-color: rgba(221, 221, 221, 0.89);
  width: 20%;
  margin:auto;
}

#copyright {
  width: fit-content;
  margin:auto;
}

#aboutMe {
  position: relative;
  height: 600px;
  background-color: aqua;
}

#aboutText {
  position:absolute;
  top: 230px;
  left: 90px;
}

#aboutTitle {
  font-family: 'Courier New', Courier, monospace;
  font-size: 48px;
  max-width: 420px;
}

#aboutDeets {
  font-size: 24px;
  max-width: 350px;
}